.why-study-with-us {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 0;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Add some gap between feature items */
    margin-bottom: 2rem;
    flex-wrap: nowrap; /* Make features stay in a single row */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
  
  .feature {
    
    min-width: 150px; /* Smaller min-width for smaller screens */
    padding: 1.5rem;
    margin: 1rem;
  }
  .icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold; /* Only the icon in bold */
    color: #e53e3e;
  }
  
  .feature-text{
    font-size: 12px;
  }
  .feature-ready{
    font-size: 15px;
  }

  p {
    color: #484747;
    margin-bottom: 1rem;
    line-height: 1.5; /* Improved line height for better readability */
  }

  h4{
    color: rgb(64, 61, 61);
    font-size: 25px;
  }
  