.search-container {
    background-color: #ffe8e8;
    padding: 1rem;
    text-align: left;
  }
  
  .search-box {
    
    margin: 1rem auto;
    max-width: 500px;
  }
  
  .search-box input {

    margin-left: -292px;
    width: 100%;
    padding: 0.75rem; /* Slightly larger padding */
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none; /* Remove the input border on focus */
  }
  
  
  
  
    