.overview-container-overview-Graduated {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding-bottom: 100px;

  }
  
  .overview-title-overview-Graduated {
    max-width: 100px;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .overview-text-overview-Graduated {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }
  
  .course-handbook-link-overview-Graduated,
  .course-guide-link-overview-Graduated,
  .register-link-overview-Graduated {
    display: block;
    margin: 10px 0;
    color: #0062cc;
    text-decoration: none;
  }
  
  .course-handbook-link-overview-Graduated:hover,
  .course-guide-link-overview-Graduated:hover,
  .register-link-overview-Graduated:hover {
    text-decoration: underline;
  }
  
  .study-expo-container-overview-Graduated {
    background-color: #e9f5e9;
    padding: 20px;
    margin-top: 20px;
  }
  
  .study-expo-title-overview-Graduated {
    font-size: 18px;
    color: #2c5d2c;
  }
  
  .study-expo-text-overview-Graduated {
    font-size: 14px;
    color: #2c5d2c;
  }

 .overview-container-overview-Graduated {
  display: flex;
  max-width: 1200px; /* Optional: Set a maximum width for the container */
  margin: auto;
}

.overview-content {
  flex: 1;
}

.overview-text {
  flex: 1;
  margin-left: 180px
}

.overview-text-overview-Graduated-column {
    columns: 2; /* Set the number of columns */
    column-gap: 20px; /* Adjust the gap between columns */
    max-width: 1200px;  /* Optional: Set a maximum width for the columns */
    margin: auto;
  }
  
  /* Optional: Style the list items */
