.contact-page-contact-us {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #000000;
    background: linear-gradient(to right, #fdfdfd, #ffffff); 
    padding-top: 50px;
  }
  .contact-content-contact-us{
    padding-top: 30px;
  }
 
  .contact-header-contact-us {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #32383e; /* Subtle separation line */
  }
  
  .contact-header-contact-us {
    font-size: 2.5em;
    padding-bottom: 20px;
    color: #000000; /* Brighter color for emphasis */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
  }
  
  .contact-header-contact-us{
    font-size: 1.2em;
    margin-bottom: 2em;
    opacity: 0.9; 
  }
  
  .button-showinformation {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #302f2f; /* Button background color */
    color: #eae7e7; /* Button text color */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */

    /* Optional: Add box shadow for a raised effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-showinformation:hover {
    background-color: #acadae; /* Change background color on hover */
    color: #0d0d0d; /* Change text color on hover */
}
 
.text-edit-contact-us{
  padding-top: 10px;
  padding-bottom: 30px;
}
